<div class='wrapper-player text-light'>
    <h1 class='flex justify-center align-self-center just' style='grid-area: 2 / 3 / 2 / 6;'>
        Bem vindo (a) @<%= @current_user.username %>
    </h1>
    <div style="grid-area: 3 / 3 / 3 / 6;" class='char-area'>
        <% @characters.each do |char|%>
            <a class='btn btn-outline-light on-hover-dark char-btn' href='/character/<%= char.id %>'>
                <%= char.name %>
            </a>
        <% end %>
        <a class='btn btn-outline-light on-hover-dark char-btn' href='/newchar'>
            <i class="fas fa-plus align-middle fa-2x"></i>
        </a>
    </div>


    <a class='btn btn-danger' style="grid-area: 6 / 1 / 6 / 10; border-radius: 0;" href='/logout'>Sair</a>
</div>
