// Place all the styles related to the stats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

form {
    height: 100%;


}
.popover-header {
    color: var(--dark)
}
.setstat{
    &-wrapper{
        display: grid;
        height: 100%;
        width: 100%;
        grid-template-columns: 200px 1fr 1fr 1fr 1fr 1fr 1fr 200px;
        grid-template-rows: 1fr  1fr 1fr 1fr 1fr;

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        input[type=number] {
            -moz-appearance: textfield;
        }
    }
    &-card {
        margin: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        text-align: center;
        color: var(--light);
        font-size: xx-large;
        height: 100%;
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
        border: 0px solid white;
        padding-bottom: 16px;
    }
    &-card:focus{
        outline: none !important;
    }
    &-label {
        margin: 0;
        border-top-left-radius: 0.25rem !important;
        border-top-right-radius: 0.25rem !important;
        line-height: 24pt;
        font-size: large;
        text-align: center;
    }
    &-cwrap {
        min-width: 100px;
        display: flex;
        flex-direction: column;
        margin: 10px;
        //overwrite default invalid style
        > input:required:invalid, input:focus:invalid {
            box-shadow: none;
        }
    }
    &-center-wrap{
        grid-area: 3 / 3 / 3 / 7;
        display: flex;
        // justify-content: center;
        overflow-x: auto;
    }
    &-header{
        grid-area: 1 / 3 / 1 / 7;
        text-align: center;
        margin-top: 1em;
    }
    &-points{
        grid-area: 2 / 3 / 2 / 7;
        text-align: center;
    }
}

.bg{
    &-indigo{
        background-color: var(--indigo);
    }
    &-pink{
        background-color: var(--pink);
    }
    &-orange{
        background-color: var(--orange);
    }
}

